
.app {
    display: flex;
    text-align: center;
    position: relative;
    flex-wrap:wrap;
}
.users {
    width: 47%;
    flex-grow: 1;
    float:left;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
    padding: 10px;

    margin:auto;
    border-radius: 5px;
}
.posts {
    width: 47%;
    flex-grow: 1;
    float:right;
    background-color: rgb(207,252,220);
    border: 2px solid rgb(79,185,227);
    padding: 10px;

    margin:auto;
    border-radius: 5px;
}
.comments {
    flex-grow: 1;
    position:absolute;bottom:0;
    background-color: lightblue;
    border: 2px solid rgb(79,185,227);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
