
.app {
    display: flex;
    text-align: center;
    position: relative;
    flex-wrap:wrap;
}
.users {
    width: 48%;
    flex-grow: 1;
    float:left;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
    padding: 10px;
    margin:auto;
    border-radius: 5px;
}
.posts {
    width: 49%;
    flex-grow: 1;
    float:right;
    font-size: 14px ;
    column-count: 2;
    background-color: rgb(207,252,220);
    border: 2px solid rgb(79,185,227);
    padding: 10px;
    margin:auto;
    border-radius: 5px;
}
.comments {
    flex-grow: 0;
    float: none;
    background-color: lightblue;
    column-count: 3;
    display: block;
    width: 97vw;
    border: 2px solid rgb(79,185,227);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
